@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Example for Azure Deployment via Cloud</a>.</p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Check in git project https://github.com/jaganrajagopalme?tab=repositories</a>.</p>
    </div>
